* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
}

.heading {
    background-color: #101077;
    color: white;
    text-align: center;
}

.functions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    flex-direction: column;
    gap: 3em;
}

.AM {
    display: flex;
    flex-direction: row;
    margin: 0em 3em;
}

.MD {
    display: flex;
    flex-direction: row;
    margin: 0em 3em;
}

.add-box,
.minus-box,
.multiply-box,
.divide-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #101077;
    color: white;
}

.sign {
    margin: 4em 0em;
    font-weight: 800;
}

.btn {
   margin: 1em 3rem 3rem 3rem;
   background-color: #101077;
   border: none;
   color: white;
   font-weight: 800;
}